.menuItem {
    min-height: 220px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}



/*body {
    background: url(https://i.pinimg.com/originals/73/83/52/7383522293cc59f84fff5bc33d5cd37a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #5F9EA0

}
.Price {
    text-align: right;
}*/
/*#Name, #Description, #CalorieCount, #Price {
     width: 50%;
 }

.form-control {
    width: 50%;
}*/





