
<h2>Create Menu Item</h2>
<form method="post" action="/MenuItem/CreateMenuItem">
    <div>
        <input type="text" name="Name" id="Name" placeholder="Name" />
    </div>
    <div>
        <input type="text" name="Description" id="Description" placeholder="Description" />
    </div>
    <div>
        <input type="text" name="CalorieCount" id="CalorieCount" placeholder="CalorieCount" />
    </div>
    <div>
        <input type="text" name="Price" id="Price" placeholder="Price" />
    </div>
    <div>
        <input type="text" name="Category" id="Category" placeholder="Category" />
    </div>
    <div>
        <input type="text" name="Active" id="Active" placeholder="Active" />
    </div>
    <div>
    <input type="submit" value="Create Item"/>
    </div>

</form>
